.recipeCard {
    padding: 0.5rem;
    animation: fadeIn 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    
    /* initial opacity is 0 until animation changes it to 1 */
    opacity: 0; 
}

.recipeCard:hover {
    transform: scale(1.01);
    transition: 0.25s;
}

/* Animations */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}